/* .bg-color {
    color: rgb(245 251 255);
} */
.auth-color, .taxuri-color{
    color: rgb(29 30 78);
}
.taxuri-text{
    color: rgb(61 64 62);
}
/* .carousel-size{
    height: 50px;
    width: 50px;
} */
/* .success-color{
    color: rgb(46 189 136);
} */