/* .bg-color {
    color: rgb(245 251 255);
} */
/* added inter font by force */
body, head, title, span, p, a, 
h1, h2, h3, h4, h5, h6, 
input, label, button, div, form, main, nav {
    font-family: 'Inter var', sans-serif;
}
.auth-color, .taxuri-color{
    color: rgb(29 30 78);
}
.taxuri-text{
    color: rgb(61 64 62);
}
.indicator {
    transition: all 0.3s ease;
}
.carousel-image {
    max-height: 500px; /* Adjust this value to make the image larger */
    max-width: 100%; /* Ensure it doesn't overflow horizontally */
    object-fit: contain; /* Keep the image within its container without distortion */
}