body, head, title, span, p, a, 
h1, h2, h3, h4, h5, h6, 
input, label, button, div, form, main, nav,
li, ul {
    font-family: 'Inter var', sans-serif;
}

/* Use these styles for TITLES, HEADINGS */
.auth-color, .taxuri-color{
    color: #1e3a8a;
}

/* Use taxuri-text for all subheadings or normal text/body */
.taxuri-text{
    color: #3f3f46;
}
.indicator {
    transition: all 0.3s ease;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #D1D5DF;
    border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}
.sidebar-open {
    @apply w-[250px];
}
.sidebar-closed {
    @apply w-[50px];
}
.sidebar-closed .content {
    @apply hidden;
}
.sidebar-active {
    @apply border-l-[8px] bg-slate-100 border-blue-900 text-blue-900 px-6 py-2 font-bold;
 /* place all shared classes */
}
.sidebar-submenu-active {
    @apply text-blue-950 px-6 py-2 font-bold;
 /* place all shared classes */
}
.sidebar-text {
    @apply text-blue-950 hover:text-blue-950 text-[14px] hover:font-bold;
}
.sidebar-icon {
    @apply w-5 h-5;
}
.datetime-navbar{
    color: rgb(29 30 78);
}
.hover-dropdown{
    @apply hover:bg-blue-100 hover:text-blue-950 hover:font-bold hover:rounded-full cursor-pointer;
}
.breadcumb-active{
    @apply text-blue-950 font-bold;
}
.active-tab {
    background-color: #f3f4f6;
    color: #172554;
}
.active-tab-dashboard {
    background-color: #1e3a8a; /* Blue background */
    color: #ffffff; /* White text */
    font-weight: bold; /* Bold text */
    border-radius: 9999px; /* Fully rounded background */
}
.no-scroll {
    overflow-y: hidden;
}